Repository alimpens/sigv2: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "*.md": ["markdownlint", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Pin dep to specific version
  package.json
Due: none

Add testing ADR
  docs/adr/0001-library-and-framework.md
  docs/adr/0002-typescript.md
  docs/adr/0003-testing.md
Due: markdownlint, prettier --check

Add testing code conventions
  docs/coding-conventions/testing.md
Due: markdownlint, prettier --check

Rename folder
  docs/code-conventions/testing.md
Due: markdownlint, prettier --check

Add styling ADR
  docs/adr/0001-library-and-framework.md
  docs/adr/0003-testing.md
  docs/adr/0004-styling.md
Due: markdownlint, prettier --check

Add styling code conventions
  docs/code-conventions/styling.md
Due: markdownlint, prettier --check

Add license header
  README.md
  docs/adr/0001-library-and-framework.md
  docs/adr/0002-typescript.md
  docs/adr/0003-testing.md
  docs/adr/0004-styling.md
  docs/adr/README.md
  docs/code-conventions/styling.md
  docs/code-conventions/testing.md
Due: markdownlint, prettier --check

Init Next app
  .eslintrc.json
  .gitignore
  .stylelintrc.json
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.module.css
  app/page.tsx
  next.config.js
  package-lock.json
  package.json
  public/next.svg
  public/vercel.svg
  tsconfig.json
Due: prettier --check, stylelint --allow-empty-input

Update stylelint rules
  .stylelintrc.json
  app/globals.css
  app/page.module.css
Due: prettier --check, stylelint --allow-empty-input

Simplify linting
  .prettierrc
  app/layout.tsx
  app/page.module.css
  package-lock.json
  package.json
Due: prettier --check, stylelint --allow-empty-input

Update linting config
  .eslintrc.json
  app/page.module.css
  app/page.tsx
  package-lock.json
  package.json
Due: prettier --check, stylelint --allow-empty-input

Remove nonfunctional lint plugin
  .eslintrc.json
  package-lock.json
  package.json
Due: none

Run eslint on commit
  .lintstagedrc.json
Due: none

Remove unused class
  app/page.module.css
Due: prettier --check, stylelint --allow-empty-input

Remove selector class pattern
  .stylelintrc.json
Due: none

Add seperate linting for json files
  .eslintrc.json
  app/globals.css
  docs/code-conventions/styling.md
  package-lock.json
  package.json
Due: markdownlint, prettier --check, stylelint --allow-empty-input

Update linting
  .eslintrc.json
  .lintstagedrc.json
  app/page.tsx
  package-lock.json
  package.json
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/components/Button/Button.tsx
  src/utils/.gitkeep
  tsconfig.json
Due: prettier --check, stylelint --allow-empty-input

Update linting config
  .eslintrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

Update style conventions docs
  docs/code-conventions/styling.md
  src/app/page.tsx
  src/components/Button/Button.module.css
  src/components/Button/Button.tsx
Due: markdownlint, prettier --check, stylelint --allow-empty-input

Exempt composes keyword from css alphabetical order
  .stylelintrc.json
  src/components/Button/Button.module.css
Due: prettier --check, stylelint --allow-empty-input

Disallow yarn and pnpm
  .npmrc
  package-lock.json
  package.json
Due: none

Add extra linting rules
  .eslintrc.json
  src/app/layout.tsx
  src/components/Button/Button.tsx
Due: none

Add new ADRs to index
  docs/adr/README.md
Due: markdownlint, prettier --check

Add linting ADR
  docs/adr/0005-linting.md
  docs/adr/README.md
Due: markdownlint, prettier --check

Add docs on linting on save
  README.md
Due: markdownlint, prettier --check

Add React Testing Library with Vitest for testing
  .eslintrc.json
  package-lock.json
  package.json
  src/components/Button/Button.test.tsx
  vitest.config.ts
Due: none

Setup directory structure
  .eslintrc.json
  next.config.cjs
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/index.ts
  tsconfig.json
Due: none

Update style
  src/app/page.tsx
  src/app/vul-aan/page.tsx
Due: none

Fix build
  .eslintrc.json
  src/app/layout.tsx
  src/app/page.tsx
  src/app/vul-aan/page.tsx
  src/components/Button/Button.tsx
Due: none

Show import of components
  src/app/vul-aan/page.tsx
Due: none

Node test runner tests
  .husky/pre-commit
  package-lock.json
  package.json
  reactTest.ts
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
Due: none

Update ADR
  docs/adr/0003-testing.md
Due: markdownlint, prettier --check

Move architecture file to docs
  docs/architecture.md
Due: markdownlint, prettier --check

Add what to test docs
  docs/what-to-test.md
Due: markdownlint, prettier --check

Fix typo's, add license header
  docs/what-to-test.md
Due: markdownlint, prettier --check

Add HTML validator
  docs/what-to-test.md
Due: markdownlint, prettier --check

Setup dependabot
  .github/dependabot.yml
Due: none

Create seperate admin app
  docs/architecture.md
Due: markdownlint, prettier --check

Clarify that its an admin FE
  docs/architecture.md
Due: markdownlint, prettier --check

Add print preview to test checklist
  docs/what-to-test.md
Due: markdownlint, prettier --check
